* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}

.header {
  background-color: #323264;
}

.section1, .section2 {
  background-color: #323264;
}

.swipe {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 0;
}

.swipe-links {
  display: flex;
  flex-shrink: 0;
  gap: 30px;
  overflow-x: auto;
  padding: 0 30px;
}

.swipe hr {
  width: 315px;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0;
  border: 0;
  margin: 30px auto 0 auto;
}

.swipelink {
  color: #B3B3BA;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  flex-shrink: 0;
}

.swipelink:first-child {
  background: var(--gradient-text-red-reversed, linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swipelink:hover {
  color: #F0145A;
}

.swipe-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 0 30px;
}

.main-title {
  padding-bottom: 30px;
  margin-bottom: 0;
}

.header-title {
  font-size: 20px;
  color: white;
  font-weight: 700;
  margin: 0;
  padding: 30px 0 0 0;
}

.main-title-text {
  font-size: 19px;
  color: white;
  font-weight: 400;
  line-height: 30px;
}

.section1 {
  background-color: #323264;
  padding-top: 0;
  padding-bottom: 60px;
  margin: 0;
}

.wrapper {
  width: 315px;
  margin-right: auto;
  margin-left: auto;
}

.box-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.link-box {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  text-decoration: none;
  padding-right: 10px;
  background-image: url(./content/Arrow.png);
  background-repeat: no-repeat;
  background-position: right;
}

.link-box:hover {
  color: #F0145A;
  background-image: url(./content/Arrow_hover.png);
}

.link-pic {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-left: 2px;
}

.title {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 30px;
  background: var(--gradient-red-text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box2 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 315px;
}

.card-pic {
  background-color: white;
  border-radius: 20px;
  width: 92px;
  padding: 14px;
}

.pic {
  width: 64px;
  height: 64px;
}

.card-title {
  color: #24A3FF;
  font-size: 22px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 0;
}

.card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: white;
}

.wrapper2 {
  width: 375px;
  margin-right: auto;
  margin-left: auto;
}

.section3 {
  padding-top: 30px;
  background-color: white;
}

.links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.links a {
  display: flex;
  width: 375px;
  height: 120px;
  margin: 0;
}

.link1 {
  background-color: #1C4280;
  padding: 36px 71px;
}

.link-photo1 {
  width: 217px;
  height: 48px;
}

.link2 {
  background-color: #143646;
  padding: 44px 80px;
}

.link-photo2 {
  width: 199px;
  height: 32px;
}

.link3 {
  background-color: #F48B30;
  padding: 38px 90px;
}

.link-photo3 {
  width: 179px;
  height: 44px;
}

.link4 {
  background-color: #9E4DC3;
  padding: 39px 90px;
}

.link-photo4 {
  width: 180px;
  height: 42px;
}

.link5 {
  background-color: #FD9339;
  padding: 38px 93px;
}

.link-photo5 {
  width: 174px;
  height: 44px;
}

.link6 {
  background-color: #E2E2E4;
  padding: 36px 86px;
}

.link-photo6 {
  width: 187px;
  height: 48px;
}

.link7 {
  background-color: #C71C36;
  padding: 30px 111px;
}

.link-photo7 {
  width: 138px;
  height: 61px;
}

.link8 {
  background-color: #DCF3F9;
  padding: 22px 107px;
}

.link-photo8 {
  width: 146px;
  height: 76px;
}

.link9 {
  background-color: #EAEAEA;
  padding: 31px 88px;
}

.link-photo9 {
  width: 182px;
  height: 60px;
}

.link10 {
  background-color: #282240;
  padding: 41px 89px;
}

.link-photo10 {
  width: 181px;
  height: 38px;
}

.link11 {
  background-color: #1D4568;
  padding: 37px 85px;
}

.link-photo11 {
  width: 189px;
  height: 46px;
}

.link12 {
  background-color: #000;
  padding: 13px 104px;
}

.link-photo12 {
  width: 152px;
  height: 95px;
}

.section1 {
  position: relative;
  margin-bottom: 60px;
}

.section1::after {
  content: "";
  height: 10px;
  background: #cacadb;
  border-radius: 0px 0px 12px 12px;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -10px;
}

.section1::before {
  content: "";
  height: 10px;
  background: #E7E7F2;
  border-radius: 0px 0px 12px 12px;
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: -20px;
}

.section2 {
  background-color: white;
  padding-top: 60px;
}

.slider {
  display: flex;
  flex-direction: column;
  background: #F5F5FA;
  overflow: hidden;
  border-radius: 12px;
}

.slider_pic {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin: 0;
}

.slider-info {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.main-slider-title {
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
  margin-bottom: 30px;
}

.slider-name {
  margin-bottom: 6px;
  color: #B3B3BA;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.slider-name-info {
  color: #B3B3BA;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

.paginator {
  margin-top: 30px;
  text-align: center;
}

.section4 {
  background-color: #F5F5FA;
}

.card-box {
  display: flex;
  padding: 30px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  background-color: #F5F5FA;
}

.cards-title p {
  margin: 0;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.news-card {
  display: flex;
  flex-direction: column;
  width: 315px;
  gap: 15px;
  background-color: white;
  border-radius: 8px;
  position: relative;
  margin-bottom: 30px;
}

.news-card-pic {
  width: 100%;
  height: 200px;
  padding: 0px;
  border-radius: 10px 10px 0 0;
}

.card-info {
  padding: 30px;
}

.card-caption {
  color: #24A3FF;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding-top: 0;
}

.card-date {
  color: #B3B3BA;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 26px;
}

.card-date::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #E6E6F0;
  position: absolute;
  top: 30px;
}

.card-lead {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

@media (min-width: 375px) {
  .links a:nth-child(n+7) {
    display: none;
  }
}
@media (min-width: 768px) {
  .wrapper {
    width: 648px;
  }
  .swipe {
    align-items: center;
  }
  .swipe-links {
    padding: 0 60px 0 70px;
  }
  .swipe hr {
    width: 648px;
    margin-top: 60px;
  }
  .swipe-content {
    margin: auto;
    max-width: 648px;
  }
  .header-title {
    padding: 60px 0 0 0;
  }
  .box2 {
    gap: 30px;
  }
  .card {
    width: 294px;
  }
  .wrapper2 {
    width: 768px;
  }
  .links a {
    width: 256px;
  }
  .links a:nth-child(n+7) {
    display: block;
  }
  .link1 {
    padding: 36px 19px;
  }
  .link2 {
    padding: 44px 28px;
  }
  .link3 {
    padding: 38px;
  }
  .link4 {
    padding: 39px 38px;
  }
  .link5 {
    padding: 38px 41px;
  }
  .link6 {
    padding: 36px 61px;
  }
  .link7 {
    padding: 29px 59px;
  }
  .link8 {
    padding: 22px 55px;
  }
  .link9 {
    padding: 30px 37px;
  }
  .link10 {
    padding: 41px 37px;
  }
  .link11 {
    padding: 37px 33px;
  }
  .link12 {
    padding: 12px 52px;
  }
  .main-slider-title {
    font-size: 38px;
  }
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .card1, .card2 {
    width: 309px;
  }
  .card3 {
    width: 648px;
    margin-top: -30px;
  }
  .card1-pic, .card2-pic, .card3-pic {
    width: 100%;
    object-fit: cover;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    width: 904px;
  }
  .swipe {
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    max-width: 1360px;
    gap: 0;
    padding: 60px 0;
  }
  .swipe-links {
    flex-direction: column;
    padding: 0 60px 0 0;
    text-align: right;
    overflow: hidden;
  }
  .swipe-section-wrap {
    padding: 0;
  }
  .swipe hr {
    width: 4px;
    height: 303px;
    margin: 0;
  }
  .main-title {
    display: flex;
    width: 405px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  .box2 {
    gap: 60px;
  }
  .card {
    width: 261px;
  }
  .wrapper2 {
    width: 1024px;
  }
  .slider {
    flex-direction: row;
  }
  .slider_pic {
    width: 400px;
    height: 528px;
    object-fit: cover;
  }
  .card1, .card2, .card3 {
    width: 281px;
    margin-top: 0;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    width: 1320px;
  }
  .card {
    width: 400px;
  }
  .wrapper2 {
    width: 1440px;
  }
  .links a {
    width: 360px;
  }
  .link1 {
    padding: 36px 71px;
  }
  .link2 {
    padding: 44px 80px;
  }
  .link3 {
    padding: 38px 90px;
  }
  .link4 {
    padding: 39px 90px;
  }
  .link5 {
    padding: 38px 93px;
  }
  .link6 {
    padding: 36px 86px;
  }
  .link7 {
    padding: 29px 111px;
  }
  .link8 {
    padding: 22px 107px;
  }
  .link9 {
    padding: 30px 89px;
  }
  .link10 {
    padding: 41px 89px;
  }
  .link11 {
    padding: 37px 85px;
  }
  .link12 {
    padding: 12px 104px;
  }
  .slider_pic {
    width: 400px;
    height: 344px;
    object-fit: cover;
  }
  .card1, .card2, .card3 {
    width: 420px;
  }
}
@media (min-width: 1920px) {
  .wrapper {
    width: 1600px;
  }
  .card {
    width: 493px;
  }
  .wrapper2 {
    width: 1720px;
  }
  .links {
    width: 1720px;
    overflow: hidden;
    border-radius: 15px;
  }
  .links a {
    width: 430px;
  }
  .link1 {
    padding: 36px 106px;
  }
  .link2 {
    padding: 44px 115px;
  }
  .link3 {
    padding: 38px 125px;
  }
  .link4 {
    padding: 39px 125px;
  }
  .link5 {
    padding: 38px 128px;
  }
  .link6 {
    padding: 36px 103px;
  }
  .link7 {
    padding: 29px 146px;
  }
  .link8 {
    padding: 22px 142px;
  }
  .link9 {
    padding: 30px 124px;
  }
  .link10 {
    padding: 41px 124px;
  }
  .link11 {
    padding: 37px 120px;
  }
  .link12 {
    padding: 12px 139px;
  }
  .section4 {
    margin-top: 60px;
  }
  .slider_pic {
    width: 400px;
    height: 298px;
    object-fit: cover;
  }
  .card1, .card2, .card3 {
    width: 513px;
  }
}

/*# sourceMappingURL=style.css.map */
